@mixin respond-to($screen) {
    @if $screen == phablets {
        @media only screen and (min-width: $phablet-screen-width) { @content; }
    }
    @else if $screen == tablets {
        @media only screen and (min-width: $tablet-screen-width) { @content; }
    }
    @else if $screen == medium-screens {
        @media only screen and (min-width: $medium-screen-width) { @content; }
    }
    @else if $screen == large-screens {
        @media only screen and (min-width: $large-screen-width) { @content; }
    }
    @else {
        @media only screen and (min-width: $screen) { @content; }
    }
}

@mixin fade($state) {
    @if $state == 'idle' {
        opacity: 0;
        margin-top: 20px;
    }
    @if $state == 'in' {
        opacity: 1;
        margin-top: 0;
        transition: all 1s;
    }
}